* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Meera Inimai", sans-serif;
}

body {
	overflow-x: hidden;
}

.subtitle,
.login-form > p,
.modal > p {
	font-size: 0.8rem;
	color: #90a4ae;
	margin: 5px 0px;
}

.show,
#divPassword.show,
.modal-center.show {
	opacity: 1 !important;
	pointer-events: initial !important;
}

.container {
	width: 95%;
	max-width: 1200px;
	margin: 0px auto;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

.jc-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.jc-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
}

.jc-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.jc-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.jc-evenly {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.jc-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.text-center {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
.close {
	font-family: "Maven Pro", sans-serif;
}

.bordered {
	border-radius: 50%;
	overflow: hidden;
}

.hide,
.login-form.hide {
	-webkit-filter: blur(5px) brightness(30%);
	filter: blur(5px) brightness(30%);
	pointer-events: none;
}

.main {
	margin-top: 100px;
}

.gallery {
	padding: 30px 0px;
}
.gallery h2 {
	padding-bottom: 30px;
}
.gallery__container {
	-webkit-columns: 3 320px;
	-moz-columns: 3 320px;
	columns: 3 320px;
	-webkit-column-gap: 0.5em;
	-moz-column-gap: 0.5em;
	column-gap: 0.5em;
}
.gallery__img {
	max-width: 100%;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.gallery__item {
	position: relative;
	padding-bottom: 0.5em;
}
.gallery__item:hover .gallery__content,
.gallery__item:hover .gallery__img {
	pointer-events: initial;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
	opacity: 1;
}
.gallery__item:hover .gallery__content {
	bottom: 0.5rem;
}
.gallery__content {
	position: absolute;
	bottom: 0.7rem;
	background: rgba(207, 216, 220, 0.8);
	border-radius: 0px 0px 5px 5px;
	width: 100%;
	padding: 10px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.gallery__description {
	width: 85%;
}

.modal-center {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	-webkit-filter: blur(40);
	filter: blur(40);
}
.modal {
	background: #fff;
	padding: 20px 40px;
	border-radius: 5px;
	width: 600px;
}
.modal > p {
	width: 85%;
	line-height: 1.3;
}
.modal div p {
	margin-top: 15px;
}
.modal .close {
	font-size: 1.2rem;
	color: #0288d1;
	padding: 0px 15px;
	cursor: pointer;
}
.modal .close:hover {
	color: #01579b;
}
.modal .input-group {
	margin: 25px 0px 10px 0px;
}

.upload {
	max-width: 550px;
	width: 100%;
	padding: 30px;
	border-radius: 5px;
}
.upload .modal {
	-webkit-box-shadow: #90a4ae 0px 8px 24px;
	box-shadow: #90a4ae 0px 8px 24px;
}
.upload .drag-area {
	height: 300px;
	border: 3px dashed #90a4ae;
	margin: 10px auto;
}
.upload .drag-area.active {
	border: 2px solid #263238;
}
.upload .drag-area img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.upload .icon {
	font-size: 2rem;
}
.upload .header {
	font-size: 1.5rem;
	color: #90a4ae;
}
.upload .support {
	font-size: 0.9rem;
	color: #90a4ae;
	margin: 10px 0px 15px 0px;
}
.upload label.btn {
	padding: 15px 20px;
}

header {
	background: #cfd8dc;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 500;
}

header .logo {
	width: 100px;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

header .logo img {
	width: 100%;
}

header .logo:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

header .results {
	width: 100%;
	left: 0px;
	top: 80px;
	width: 86%;
}

header .results li {
	background-color: #cfd8dc;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #263238;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

header .results li:hover {
	background-color: #0288d1 !important;
}

header .results li:hover > a {
	color: #fff !important;
}

header .results li:nth-child(odd) {
	background-color: #90a4ae;
}

header .results li:first-child {
	border-radius: 5px 5px 0px 0px;
}

header .results li:last-child {
	border-radius: 0px 0px 5px 5px;
	border-bottom: none;
}

header .results #imgProfile {
	width: 50px;
	height: 50px;
}

header .results a {
	padding-left: 10px;
	color: #263238;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

header .menu a {
	display: block;
	padding: 5px 15px;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

header .menu a:hover {
	color: #01579b;
	font-weight: bold;
}

header .menu a.active {
	color: #01579b;
	font-weight: bold;
}

header .menu__icon--hamburguer {
	display: block;
	background-image: url("../images/menu.png") !important;
	width: 32px;
	height: 32px;
	-webkit-filter: invert(1);
	filter: invert(1);
	cursor: pointer;
	display: none;
}

header .menu__icon--hamburguer.close {
	background-image: url("../images/close.png") !important;
}

header .menu--user {
	color: #0288d1;
	cursor: pointer;
	padding-left: 15px;
}

header .menu--user span:hover,
header .menu--user .divPictureProfile:hover ~ span {
	color: #01579b;
	font-weight: bold;
}

header .menu .submenu {
	top: 50px;
	left: 0;
	width: 130px;
	background-color: #cfd8dc;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	z-index: 500;
}

header .menu .submenu a {
	padding: 15px;
}

header .menu .submenu li:first-child {
	padding-top: 10px;
}

header input[type="search"],
header .input-group label {
	padding-left: 16px;
}

header input[type="search"]:focus ~ label,
header input[type="search"]:valid ~ label {
	left: -15px;
}

a {
	color: #0288d1;
	text-decoration: none;
}

a:hover {
	color: #0471ac;
}

li {
	list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
	width: 100%;
	max-width: 430px;
	height: 50px;
	padding-left: 30px;
	border: 1px solid #90a4ae;
	outline: none;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	outline: none;
}

input[type="text"]:focus ~ span,
input[type="text"]:valid ~ span,
input[type="password"]:focus ~ span,
input[type="password"]:valid ~ span,
input[type="email"]:focus ~ span,
input[type="email"]:valid ~ span,
input[type="search"]:focus ~ span,
input[type="search"]:valid ~ span {
	color: #0288d1;
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label,
input[type="email"]:focus ~ label,
input[type="email"]:valid ~ label,
input[type="search"]:focus ~ label,
input[type="search"]:valid ~ label {
	color: #0288d1;
	top: -15px;
	left: -30px;
	font-size: 0.8rem;
}

input[type="search"] {
	width: 310px;
	border-radius: 5px 0px 0px 5px;
}

.field-group {
	margin-top: 10px;
}

.field-group label {
	padding: 10px 15px;
}

.field-group label i {
	color: #fff;
}

.field-group label span {
	color: #fff;
	padding-left: 5px;
}

.gallery__item button {
	padding: 0;
	width: 32px;
	height: 32px;
}

.gallery__item button.btn-secondary {
	margin: 0px 5px;
}

.gallery__item button.favorite {
	color: crimson;
	border: 1px solid #0471ac;
}

.btn {
	padding: 20px 25px;
	color: #fff;
	display: block;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	border-radius: 5px;
	transition: all 400ms;
}

.btn-primary {
	background: #263238;
	border: none;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0288d1;
}

.btn-secondary {
	background: transparent;
	border: 1px solid #263238;
	color: #000;
}

.btn-secondary:hover {
	color: #0288d1;
	border: 1px solid #0288d1;
}

.btn-search {
	height: 50px;
	width: 50px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
	padding: 0px;
	background-color: #0288d1;
	color: #263238;
	border: none;
}

.btn-search:hover {
	background-color: #0471ac;
	color: #fff;
}

.message {
	position: fixed;
	left: 50%;
	top: 30px;
	-webkit-transform: translateX(-56%);
	transform: translateX(-56%);
	max-width: 350px;
	z-index: 900;
	opacity: 1;
	pointer-events: initial;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	margin: 10px 20px;
	padding: 10px 10px;
	color: #fff;
	line-height: 1.2rem;
	border-radius: 5px;
}

.message.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

.message.error {
	background-color: indianred;
}

.message.success {
	background-color: #00897b;
}

.message.info {
	background: #01579b;
}

.message span {
	color: #90a4ae;
	cursor: pointer;
	padding-left: 20px;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #cfd8dc;
}

.div-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding: 15px;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.8)),
			to(rgba(0, 0, 0, 0.8))
		),
		url(https://demo.w3layouts.com/demos_new/template_demo/16-01-2020/active-login-form-demo_Free/227341457/web/images/women.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(https://demo.w3layouts.com/demos_new/template_demo/16-01-2020/active-login-form-demo_Free/227341457/web/images/women.jpg);
}

.login-form {
	width: 350px;
	padding: 30px;
	height: auto;
	background-color: #fff;
}
.login-form > a,
.login-form > div p {
	display: block;
	margin: 20px 0px;
}
.login-form label {
	cursor: pointer;
}

.input-group {
	margin: 25px 0px;
	position: relative;
	max-width: 430px;
}
.input-group i.fa-eye-slash,
.input-group i.fa-eye {
	pointer-events: initial;
	cursor: pointer;
	right: 10px;
	top: 18px;
}
.input-group span,
.input-group label {
	top: 18px;
	left: 0;
	color: #90a4ae;
	pointer-events: none;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}
.input-group span {
	padding-left: 8px;
}
.input-group label {
	padding-left: 30px;
}

.profile {
	padding: 30px;
	margin-top: 100px;
}
.profile__img .profileImg {
	width: 150px;
	height: 150px;
}
.profile__img .profileImg img {
	width: 100%;
}
.profile__info li {
	padding: 10px;
}
.profile__info span {
	padding-right: 5px;
	font-weight: bold;
}
.profile__info > div.flex-wrap {
	margin-left: 10px;
}
.profile a.btn {
	padding: 10px 15px;
	margin-left: 10px;
}

#edit-profile input[type="text"],
#edit-profile input[type="password"] {
	max-width: 250px;
}

.profile__info.edit {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 475px;
}

.profile__img.edit {
	-ms-flex-preferred-size: 15%;
	flex-basis: 15%;
	padding-right: 20px;
}

#divPassword {
	opacity: 0;
	pointer-events: none;
	height: 0;
}
#divPassword.show {
	height: auto;
}

.btn-group {
	margin-top: 10px;
}

.btn-group .btn:first-child {
	margin-right: 5px;
}

@media (max-width: 992px) {
	header .menu {
		position: fixed;
		width: 100%;
		height: calc(100vh - 100px);
		top: 100px;
		right: 0px;
		z-index: 100;
		pointer-events: none;
	}
	header .menu.show,
	header .menu#divPassword.show {
		pointer-events: initial;
	}
	header .menu__icon--hamburguer {
		display: block;
		background-image: url("images/menu.png");
		background-size: cover;
	}
	header .menu__icon--hamburguer.close {
		background-image: url("images/close.png");
	}
	header .menu .submenu {
		width: 100%;
		top: 70px;
	}
	header .menu .submenu li {
		padding: 5px 15px;
	}
	header .menu ul {
		display: table;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #cfd8dc;
		text-align: center;
		right: -100%;
		-webkit-transition: all 500ms;
		transition: all 500ms;
	}
	header .menu ul.showMenu {
		right: 0%;
	}
	header .menu ul li.d-flex {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 10px 0px;
		padding-right: 27px;
	}
	header .menu ul li.d-flex::after {
		content: "^";
		-webkit-transform: rotate(180deg) translate(-72px, 7px);
		transform: rotate(180deg) translate(-72px, 7px);
		font-size: 1.4rem;
	}
	header .menu ul li {
		-webkit-transition: all 400ms;
		transition: all 400ms;
	}
	header .menu ul li:hover {
		background: #90a4ae;
	}
	header .menu ul a {
		padding: 25px;
	}

	.profile .input-group {
		margin: 25px 0px 0px 0px;
	}
	.profile__info.edit a {
		display: block;
		margin: 25px 0px 10px 0px;
	}

	.gallery__content {
		opacity: 1;
	}
}
@media (max-width: 768px) {
	.modal-center {
		width: 75%;
	}
	.modal-center .modal {
		width: auto;
	}
}
@media (max-width: 576px) {
	input[type="search"] {
		width: 200px;
	}

	h2 {
		font-size: 1.2rem;
		margin: 10px 0px;
	}

	.login-form {
		padding: 20px;
	}

	.modal {
		padding: 20px;
	}
	.modal > p {
		width: 95%;
	}

	.modal-center {
		width: 95%;
	}

	header .d-flex {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	header .search-form {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	header .results {
		left: auto;
		width: 250px;
	}
	header .menu {
		top: 163px;
	}

	.profile {
		margin-top: 164px;
	}
	.profile__info {
		margin-left: 10px;
	}
	.profile__info ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.profile__info h2 {
		font-size: 1.8rem;
	}
	.profile__info > div.flex-wrap {
		margin-left: 0px;
	}
	.profile a.btn {
		margin-left: 0;
	}

	.flex-column-sm {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.main {
		margin-top: 164px;
	}

	.message {
		top: 50px;
		width: 310px;
	}
}
