// RESET
// VARIABLES
// MIXINS
// TIPOGRAFIA


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Meera Inimai', sans-serif;
}
.container{
	width: 95%;
	max-width: 1200px;
	margin: 0px auto;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
    align-content: center;
}
.jc-between{
    justify-content: space-between;
}
.jc-end{
    justify-content: end;
}
.jc-around{
	justify-content: space-around;
}
.jc-center{
	justify-content: center;
}
.jc-evenly{
	justify-content: space-between;
}
.jc-start{
	justify-content: start;
}
.text-center{
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
.close{
    font-family: $font-title;
}