// GRID
// ESTRUCTURA DEL SITIO

@media (max-width:992px) {
	header {
		.menu {
			position: fixed;
			width: 100%;
			height: calc(100vh - 100px);
			top: 100px;
			right: 0px;
			z-index: 100;
			pointer-events: none;

			&.show {
				pointer-events: initial;
			}

			&__icon--hamburguer {
				display: block;
				background-image: url('images/menu.png');
				background-size: cover;

				&.close {
					background-image: url('images/close.png');
				}
			}

			.submenu {
				width: 100%;
				top: 100px;

				li {
					padding: 5px 15px;
				}
			}

			ul {
				display: table;
				position: absolute;
				width: 100%;
				height: 100%;
				background: $bg-color;
				text-align: center;
				right: -100%;
				transition: all 500ms;

				&.showMenu {
					right: 0%;
				}

				li.d-flex {
					justify-content: center;
					padding: 25px 15px;
					padding-right: 27px;

					&::after {
						content: '^';
						transform: rotate(180deg) translate(-72px, 7px);
						font-size: 1.4rem;
					}
				}

				li {
					transition: all 400ms;
				}

				li:hover {
					background: $text-secondary;
				}

				a {
					padding: 25px;
				}



			}
		}
	}

	.profile {
		.input-group {
			margin: 25px 0px 0px 0px;
		}

		&__info.edit a {
			display: block;
			margin: 25px 0px 10px 0px;
		}
	}

	.gallery__content {
		opacity: 1;
	}
}


@media (max-width:768px) {
	.modal-center {
		width: 75%;

		.modal {
			width: auto;
		}
	}
}


@media (max-width:576px) {
	input[type="search"] {
		width: 200px;
	}

	h2 {
		font-size: 1.2rem;
		margin: 10px 0px;
	}

	.login-form {
		padding: 20px;
	}

	.modal {
		padding: 20px;

		&>p {
			width: 95%;
		}
	}

	.modal-center {
		width: 95%;
	}

	header {
		.d-flex {
			flex-wrap: wrap;
		}

		.search-form {
			order: 4;
			width: 100%;
			justify-content: center;
		}

		.menu {
			top: 163px;
		}
	}

	.profile {
		&__info {
			margin-left: 10px;
			ul {
				flex-direction: column;
			}

			h2 {
				font-size: 1.8rem;
			}
			> div.flex-wrap{
				margin-left: 0px;
			}
		}
		
		a.btn{
			margin-left: 0;
		}
	}

	.flex-column-sm {
		flex-direction: column;
	}

}