extends ../template/template
append config 
    - var currentPage = 'Iniciar Sesion'

block header


block content
    div(class="div-center")
        form(action="#", method="post" onsubmit="return false;" class="login-form")
            h1 Iniciar sesión 
            p Hermosas fotos libres!
            div(class="input-group p-relative")
                input(type="text", name="txtUser" id="txtUser" required="")
                span(class="p-absolute"): i(class="fa fa-user")
                label(for="txtUser" class="p-absolute") Usuario 
            div(class="input-group p-relative")
                input(type="password", name="txtPassword" id="txtPassword" required="")
                span(class="p-absolute"): i(class="fa fa-key")
                label(for="txtPassword" class="p-absolute") Contraseña
                i(class=" p-absolute fa fa-eye" id="toggle-password" onclick="showPassword('old')")
            div(class="d-flex align-center jc-between")
                div(class="d-flex align-center") 
                    input(type="checkbox", name="chkRemember" id="chkRemember")
                    label(for="chkRemember")  Recordarme
                div
                    input(type="submit", value="Iniciar sesión")
            a(href="#" id="reset-password") Olvide mi contraseña
            div(class="text-center")
                p No tienes una cuenta? 
                    a(href="registro.html") Registrarse 
    div(class="p-absolute modal-center" id="modal-step-1")
        div(class="modal")
            div(class="d-flex jc-end")
                span(class="close") X
            h2 Restablecer contraseña
            p Ingresa el email vinculado a tú cuenta, enviaremos un código para que puedas restablecer la contraseña
            form(action="#", method="post" onsubmit="return false;" id="step-1")
                div(class="input-group p-relative")
                    input(type="email", name="txtEmailVerify" id="txtEmailVerify" required="")
                    span(class="p-absolute"): i(class="fa fa-envelope")
                    label(for="txtEmail" class="p-absolute") Ingresar email 
                input(type="submit", value="Siguiente")
    div(class="p-absolute modal-center" id="modal-step-2")
        div(class="modal")
            div(class="d-flex jc-end")
                span(class="close") X
            h2 Restablecer contraseña
            p Ingresa el código que te enviamos por email
            form(action="#", method="post" onsubmit="return false;" id="step-2")
                div(class="input-group p-relative")
                    input(type="text", name="txtCodeVerify" id="txtCodeVerify" required="")
                    span(class="p-absolute"): i(class="fa fa-envelope")
                    label(for="txtCode" class="p-absolute") Ingresar código 
                input(type="submit", value="Verificar")
                div(class="text-center")
                    p No has recibido un email? 
                        a(href="#") Reenviar código
    div(class="p-absolute modal-center" id="modal-step-3")
        div(class="modal")
            div(class="d-flex jc-end")
                span(class="close") X
            h2 Restablecer contraseña
            p Ingrese la nueva contraseña
            form(action="#", method="post" onsubmit="return false;" id="step-3")
                div(class="input-group p-relative")
                    input(type="password", name="txtNewPassword" id="txtNewPassword" required="")
                    span(class="p-absolute"): i(class="fa fa-key")
                    label(for="txtNewPassword" class="p-absolute") Nueva contraseña
                    i(class=" p-absolute fa fa-eye" id="toggle-password-modal" onclick="showPassword()")
                input(type="submit", value="Actualizar")
block footer
