extends ../template/template
append config 
	- var currentPage = 'Perfil'

block content
	section(class="profile container")
		div(class="d-flex align-center jc-center")
			div(class="profile__img")
				div(class="profileImg bordered")
			div(class="profile__info")
				div(class="d-flex align-center flex-wrap flex-column-sm")
					h2 DanielR
					a(href="editar-perfil.html" class="btn btn-primary ")  Editar Perfil
				ul(class="d-flex jc-between")
					li(class="d-flex")
						span 40
						p Publicaciones
					li(class="d-flex")
						span 128
						p Me Gusta
	hr
	block gallery 
		section(class="gallery container")
			h2(class="text-center") Publicaciones de DanielR
			include ../includes/gallery
	block upload
		include ../includes/upload				
