block config
    include ../config/config
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=`${currentPage} | ${siteName}`
        link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="css/main.css")
        script(src="https://kit.fontawesome.com/87b8bff04b.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Maven+Pro:wght@500&family=Meera+Inimai&display=swap" rel="stylesheet")
    body
        block header
            include ../includes/header

        block content

        block footer
            include ../includes/footer
        script(src="js/scripts.js")
