$link: #0288d1;
$link-hover: #0471ac;
$btn-primary: #263238;
$text-color: #fff;
$text-secondary: #90a4ae;

a {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

li {
	list-style: none;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
	width: 100%;
	max-width: 430px;
	height: 50px;
	padding-left: 30px;
	border: 1px solid $text-secondary;
	outline: none;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	outline: none;
}

input[type="text"]:focus~span,
input[type="text"]:valid~span,
input[type="password"]:focus~span,
input[type="password"]:valid~span,
input[type="email"]:focus~span,
input[type="email"]:valid~span,
input[type="search"]:focus~span,
input[type="search"]:valid~span {
	color: $link;
}

input[type="text"]:focus~label,
input[type="text"]:valid~label,
input[type="password"]:focus~label,
input[type="password"]:valid~label,
input[type="email"]:focus~label,
input[type="email"]:valid~label,
input[type="search"]:focus~label,
input[type="search"]:valid~label {
	color: $link;
	top: -15px;
	left: -30px;
	font-size: 0.8rem;
}

input[type="search"] {
	width: 310px;
	border-radius: 5px 0px 0px 5px;
}

.field-group {
	margin-top: 10px;
}

.field-group label {
	padding: 10px 15px;

	i {
		color: $text-color;
	}

	span {
		color: $text-color;
		padding-left: 5px;
	}
}


.gallery__item button{
	padding: 0;
	width: 32px;
	height: 32px;
	&.btn-secondary{
		margin: 0px 5px;
	}
	&.favorite{
		color: crimson;
		border: 1px solid $link-hover;
	}
}

.btn {
	padding: 20px 25px;
	color: $text-color;
	display: block;
	border-radius: 5px;
	cursor: pointer;
	transition: all 400ms;
	border-radius: 5px;
	transition: all 400ms;
}

.btn-primary {
	background: $btn-primary;
	border: none;

	&:hover {
		color: $text-color;
		background-color: $link;
	}
}

.btn-secondary {
	background: transparent;
	border: 1px solid $btn-primary;
	color: #000;

	&:hover {
		color: $link;
		border: 1px solid $link;
	}
}

.btn-search {
	height: 50px;
	width: 50px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
	padding: 0px;
	background-color: $link;
	color: $btn-primary;
	border: none;

	&:hover {
		background-color: $link-hover;
		color: $text-color;
	}
}