@import '../variables';

header {
	background: $bg-color;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 500;
	.logo {
		width: 100px;
		transition: all 400ms;

		img {
			width: 100%;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	.menu {
		a {
			display: block;
			padding: 5px 15px;
			transition: all 400ms;

			&:hover {
				color: $link-hover;
				font-weight: bold;
			}
			&.active{
				color: $link-hover;
				font-weight: bold;
			}
		}

		&__icon--hamburguer {
			display: block;
			background-image: url('../images/menu.png') !important;
			width: 32px;
			height: 32px;
			filter: invert(1);
			cursor: pointer;
			display: none;

			&.close {
				background-image: url('../images/close.png') !important;
			}
		}

		&--user {
			color: $link;
			cursor: pointer;
			padding-left: 15px;

			span:hover,
			.divPictureProfile:hover~span {
				color: $link-hover;
				font-weight: bold;
			}

		}

		.submenu {
			top: 50px;
			left: 0;
			width: 130px;
			background-color: $bg-color;
			opacity: 0;
			pointer-events: none;
			transition: all 400ms;
			z-index: 500;

			a {
				padding: 15px;
			}

			li:first-child {
				padding-top: 10px;
			}

			&.show {
				@extend .show;
			}

		}
	}

	input[type="search"],
	.input-group label {
		padding-left: 16px;
	}

	input[type="search"]:focus~label,
	input[type="search"]:valid~label {
		left: -15px;
	}
}