@import '../variables';

header{
	background: $bg-color;
	.logo{
		width: 100px;
		transition: all 400ms;
		img{
			width: 100%;
		}
		&:hover{
			transform: scale(1.05);
		}
	}
	.menu{
		a{
			display: block;
			padding: 5px 15px;
			transition: all 400ms;
			&:hover{
				color: $link-hover;
				font-weight: bold;
			}
		}
		&__icon--hamburguer {
			display: block;
			background-image: url('../images/menu.png') !important;
			width: 32px;
			height: 32px;
			filter: invert(1);
			cursor: pointer;
			display: none;
			&.close{
				background-image: url('../images/close.png') !important;
			}
		}

		&--user{
			color: $link;
			cursor: pointer;
			padding-left: 15px;
			img{
				border-radius: 50%;
				margin-left: 5px;
				order: 2;
			}
			span:hover,
			img:hover ~ span{
				color: $link-hover;
				font-weight: bold;
			}
			&:hover > ul{
				@extend .show;
			}
		}
		.submenu{
			top: 50px;
			left: 0;
			width: 130px;
			background-color: $bg-color;
			opacity: 0;
			pointer-events: none;
			transition: all 400ms;
			a{
				padding: 15px;
			}
			li:first-child{
				padding-top: 10px;
			}
			&.show{
				@extend .show;
			}
			
		}
		
	}
}