@import '../variables';

header {
	background: $bg-color;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 500;
	.logo {
		width: 100px;
		transition: all 400ms;

		img {
			width: 100%;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	.results{
		width: 100%;
		left: 0px;
		top: 80px;
		width: 86%;
		li{
			background-color: $bg-color;
			padding: 10px;
			cursor: pointer;
			border-bottom: 1px solid $btn-primary;
			transition: all 400ms;
			&:hover{
				background-color: $link !important;
			}
			&:hover > a{
				color: #fff !important;
			}
		}
		li:nth-child(odd){
			background-color: $text-secondary;
		}
		li:first-child{
			border-radius: 5px 5px 0px 0px;
		}
		li:last-child{
			border-radius: 0px 0px 5px 5px;
			border-bottom: none;
		}
		#imgProfile{
    		width: 50px;
    		height: 50px;
		}
		a{
			padding-left: 10px;
			color: $btn-primary;
			transition: all 400ms;
		}
	}

	.menu {
		a {
			display: block;
			padding: 5px 15px;
			transition: all 400ms;

			&:hover {
				color: $link-hover;
				font-weight: bold;
			}
			&.active{
				color: $link-hover;
				font-weight: bold;
			}
		}

		&__icon--hamburguer {
			display: block;
			background-image: url('../images/menu.png') !important;
			width: 32px;
			height: 32px;
			filter: invert(1);
			cursor: pointer;
			display: none;

			&.close {
				background-image: url('../images/close.png') !important;
			}
		}

		&--user {
			color: $link;
			cursor: pointer;
			padding-left: 15px;

			span:hover,
			.divPictureProfile:hover~span {
				color: $link-hover;
				font-weight: bold;
			}

		}

		.submenu {
			top: 50px;
			left: 0;
			width: 130px;
			background-color: $bg-color;
			opacity: 0;
			pointer-events: none;
			transition: all 400ms;
			z-index: 500;

			a {
				padding: 15px;
			}

			li:first-child {
				padding-top: 10px;
			}

			&.show {
				@extend .show;
			}

		}
	}

	input[type="search"],
	.input-group label {
		padding-left: 16px;
	}

	input[type="search"]:focus~label,
	input[type="search"]:valid~label {
		left: -15px;
	}
}