@import '../variables.scss';

.message {
	position: fixed;
	left: 50%;
	top: 30px;
	transform: translateX(-56%);
	max-width: 350px;
	z-index: 900;
	opacity: 1;
	pointer-events: initial;
	transition: all 400ms;
	margin: 10px 20px;
	padding: 10px 10px;
	color: $text-color;
	line-height: 1.2rem;
	border-radius: 5px;

	&.hide {
		opacity: 0 !important;
		pointer-events: none !important;
	}

	&.error {
		background-color: indianred;
	}

	&.success {
		background-color: #00897b;
	}

	&.info {
		background: #01579b;
	}

	span {
		color: $text-secondary;
		cursor: pointer;
		padding-left: 20px;
	}
}